html.dark {
  --color-1: rgba(0,0,0,0.1);
  --color-2: rgb(0 0 0 / 12%);
  --color-3: rgba(0, 0, 0, .2);
  --color-4: rgba(0, 0, 0, 0.117647);
  --color-5: rgba(0,0,0,0.06);
  --color-6: rgba(0, 0, 0, 0.2);
  --color-7: rgba(0, 0, 0, 0.12);
  --color-8: rgba(0,0,0,0.3);
  --color-9: rgba(0,0,0,0.15);
  --color-10: rgba(0, 0, 0, 0.5);
  --color-11: rgba(0,0,0,0.5);
  --color-12: rgba(0,0,0,0.07);
  --color-13: rgba(0, 0, 0, 0.3);
  --color-14: rgba(0,0,0,.08);
  --color-15: rgba(0,0,0, 0.12);
  --color-16: rgb(0 0 0 / 0%);
  --color-17: rgba(0,0,0,0.2);
  --color-18: rgba(15,15,15,0.7);
  --color-19: rgb(15, 15, 15);
  --color-20: rgba(15, 15, 15, 0.5);
  --color-21: rgba(15, 15, 15, 0.4);
  --color-22: rgba(15, 15, 15, 0.2);
  --color-23: rgb(15 15 15 / 40%);
  --color-24: rgba(15, 15, 15, 0.3);
  --color-25: rgba(15, 15, 15, 0.1);
  --color-26: rgb(18,18,19);
  --color-27: rgb(24, 67, 186);
  --color-28: rgb(25,25,27);
  --color-29: rgb(28,28,29);
  --color-30: rgb(28,28,28);
  --color-31: rgba(28,28,28,0);
  --color-32: rgb(34, 34, 36);
  --color-33: rgb(36, 36, 38);
  --color-34: rgba(36,36,40, 0.36);
  --color-35: rgb(42, 42, 44);
  --color-36: rgb(44, 127, 246);
  --color-37: rgba(46, 47, 48, 0);
  --color-38: rgba(46, 47, 48, 1);
  --color-39: rgba(46, 170, 220, 0.15);
  --color-40: rgb(46,47,49);
  --color-41: rgba(46, 47, 49, 0.75);
  --color-42: rgb(46, 47, 49);
  --color-43: rgb(48, 49, 51);
  --color-44: rgb(49, 50, 52);
  --color-45: rgba(51, 51, 51, 0.1);
  --color-46: rgba(51, 51, 51, 0.75);
  --color-47: rgba(51, 51, 51, 0.16);
  --color-48: rgba(51, 51, 51, 0.5);
  --color-49: rgba(51, 51, 51, 0.2);
  --color-50: rgb(51, 52, 54);
  --color-51: rgb(52, 53, 55);
  --color-52: rgb(54,55,57);
  --color-53: rgb(55, 60, 63);
  --color-54: rgba(55, 60, 63, 0.5);
  --color-55: rgb(58 151 212);
  --color-56: rgb(58,59,61);
  --color-57: rgb(58 151 212 / 36%);
  --color-58: rgb(60 66 87 / 8%);
  --color-59: rgba(60, 66, 87, 0.117647);
  --color-60: rgb(60, 61, 63);
  --color-61: rgba(60,66,87,0.06);
  --color-62: rgb(60 66 87 / 16%);
  --color-63: rgb(68, 69, 71);
  --color-64: rgb(74, 145, 246);
  --color-65: rgb(79, 142, 255);
  --color-66: rgb(80, 80, 80);
  --color-67: rgba(80,81,84, 0.6);
  --color-68: rgba(83, 83, 84, 0.5);
  --color-69: rgb(83, 155, 245);
  --color-70: rgba(83, 83, 84, 0.2);
  --color-71: rgba(83, 83, 84, 0.4);
  --color-72: rgb(85,58,58);
  --color-73: rgb(87, 92, 95);
  --color-74: rgb(87,87,89);
  --color-75: rgba(93,47,134,0.3);
  --color-76: rgba(93,47,134,0.1);
  --color-77: rgba(93,47,134,0.7);
  --color-78: rgb(94,174,234);
  --color-79: rgba(100, 100, 100);
  --color-80: rgb(105,68,68);
  --color-81: rgb(120, 123, 123);
  --color-82: rgb(137,138,139);
  --color-83: rgba(161, 204, 101, 0.2);
  --color-84: rgb(161, 204, 101);
  --color-85: rgb(189, 134, 13);
  --color-86: rgba(189, 134, 13, 0.1);
  --color-87: rgb(202, 204, 206);
  --color-88: rgba(202, 204, 206, 0.25);
  --color-89: rgba(202, 204, 206, 0.6);
  --color-90: rgba(202, 204, 206, 0.15);
  --color-91: rgba(205, 39, 2, 0.15);
  --color-92: rgba(205, 39, 2, 1);
  --color-93: rgba(205, 39, 2, 0.1);
  --color-94: rgba(205, 39, 2, 0.5);
  --color-95: rgba(205, 39, 2, 0.05);
  --color-96: rgba(205, 39, 2, 0.2);
  --color-97: rgb(207, 209, 211);
  --color-98: rgb(212, 214, 216);
  --color-99: rgb(225, 98, 89);
  --color-100: rgba(255, 255, 255, 0.06);
  --color-101: rgba(255, 255, 255, 0.1);
  --color-102: rgba(255, 255, 255, 0.8);
  --color-103: rgba(255, 255, 255, 0.6);
  --color-104: rgba(255, 255, 255, 0.07);
  --color-105: rgba(255, 255, 255, 0.3);
  --color-106: rgba(255, 255, 255, 0.7);
  --color-107: rgba(255, 255, 255, 0.14);
  --color-108: rgba(255, 255, 255, 0.08);
  --color-109: rgba(255,255,255,0.07);
  --color-110: rgba(255, 255, 255, 0.4);
  --color-111: rgba(255, 255, 255, 0.03);
  --color-112: rgba(255,255,255,.15);
  --color-113: rgba(255,255,255,0.05);
  --color-114: rgba(255, 255, 255, 0.156863);
  --color-115: rgba(255, 255, 255, 0.5);
  --color-116: rgba(255, 255, 255, 0.16);
  --color-117: rgba(255, 255, 255, 0.13);
  --color-118: rgba(255, 255, 255, 0.02);
  --color-119: rgba(255, 255, 255, 0.85);
  --color-120: rgba(255, 255, 255, 0.05);
  --color-121: rgba(255,255,255,0.13);
  --color-122: rgba(255, 255, 255, 1);
  --color-123: rgba(255, 255, 255, 0.12);
  --color-124: rgba(255,255,255,0.1);
  --color-125: rgba(255, 255, 255, 0.35);
  --color-126: rgba(255, 255, 255, 0.04);
  --color-127: rgba(255,255,255,1);
  --color-128: rgb(255,255,255);
  --color-129: rgba(255, 255, 255, 0.15);
  --color-130: rgba(255, 255, 255, 0.75);
  --color-131: rgb(255,0,40);
  --color-132: rgba(255, 255, 255, 0.9);
  --color-133: rgba(255, 255, 255, 0.09);
  --color-134: rgba(255, 255, 255, 0.2);
  --color-135: rgba(255, 255, 255, 0.25);
  --color-136: rgba(255, 255, 255, 0.037);
}