html.light {
  --mochi----background-color:rgb(255, 255, 255);
  --mochi----blue-link:#3182bd;
  --mochi----blue:rgb(48, 131, 199);
  --mochi----border-color:rgba(51, 51, 51, 0.16);
  --mochi----button-icon-2:rgb(118,118,118);
  --mochi----button-icon-dark:rgba(255, 255, 255, 0.7);
  --mochi----button-icon:rgba(51, 51, 51, 0.7);
  --mochi----context-menu-arrow:rgba(51, 51, 51, 0.3);
  --mochi----context-menu-selected-background:rgba(46, 170, 220, 0.15);
  --mochi----context-menu-selected-dark:rgb(94,174,234);
  --mochi----context-menu-selected:rgb(44, 127, 246);
  --mochi----de-emphasized-text:rgba(51, 51, 51, 0.7);
  --mochi----error:rgb(225, 98, 89);
  --mochi----focus-box-shadow:rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 3px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
  --mochi----frame-shadow:0px 0px 50px 2px rgba(0, 0, 0, .1);
  --mochi----green:rgb(161, 204, 101);
  --mochi----hint-text-underline:rgba(51, 51, 51, 0.3);
  --mochi----hint-text:rgba(51, 51, 51, 0.6);
  --mochi----mobile-tab-nav-count:rgba(100, 100, 100);
  --mochi----more-button-icon:rgba(51, 51, 51, 0.5);
  --mochi----next-side-border:2px dashed rgba(51, 51, 51, 0.1);
  --mochi----next-side-text:rgba(51, 51, 51, 0.3);
  --mochi----red:rgb(225, 98, 89);
  --mochi----review-buttons-border:1px solid rgba(51, 51, 51, 0.1);
  --mochi----review-buttons:rgba(51, 51, 51, 0.25);
  --mochi----reviews-from-now:rgba(51, 51, 51, 0.4);
  --mochi----side-bar-sync-status:rgba(51, 51, 51, 0.4);
  --mochi----spinner:rgba(51, 51, 51, 0.6) !important;
  --mochi----success-green:#1a7f37;
  --mochi----super-de-emphasized-text:rgba(51, 51, 51, 0.3);
  --mochi----table-border:1px solid rgba(51, 51, 51, 0.2);
  --mochi----table-row-border:1px solid rgba(51, 51, 51, 0.15);
  --mochi----text-color:rgba(51, 51, 51, 1);
  --mochi----transparent:transparent;
  --mochi--alert--banner-danger-icon:rgb(255,0,40);
  --mochi--alert--subtext:rgba(51, 51, 51, 0.75);
  --mochi--arrow--head:8px solid rgba(51, 51, 51, 0.2);
  --mochi--arrow--stem:2px solid rgba(51, 51, 51, 0.2);
  --mochi--audio-player--background:rgba(0,0,0,0.04);
  --mochi--audio-player--icon:rgba(51, 51, 51, 0.7);
  --mochi--banner--action-active:rgba(255, 255, 255, 0.1);
  --mochi--banner--action-hover:rgba(255, 255, 255, 0.06);
  --mochi--banner--background-color:rgb(46, 47, 49);
  --mochi--banner--border:none;
  --mochi--banner--color:rgba(255, 255, 255, 1);
  --mochi--banner--icon:rgba(255, 255, 255, 0.7);
  --mochi--banner--separator:1px solid rgba(255, 255, 255, 0.09);
  --mochi--blue-button--background:rgb(44, 127, 246);
  --mochi--blue-button--border:rgb(24, 107, 226);
  --mochi--blue-button--color:rgb(255, 255, 255);
  --mochi--blue-button--icon-color:rgb(255,255,255);
  --mochi--blue-button-active--background:rgb(24, 107, 246);
  --mochi--blue-button-hover--background:rgb(74, 145, 246);
  --mochi--box-select--background-hover:rgb(243,243,243);
  --mochi--box-select--background:rgb(247,247,247);
  --mochi--breadcrumbs--published-background:rgba(189, 134, 13, 0.1);
  --mochi--breadcrumbs--published-foreground:rgb(189, 134, 13);
  --mochi--button--background:rgb(255, 255, 255);
  --mochi--button--border-bottom:2px solid rgb(222, 226, 228);
  --mochi--button--border-color:rgb(222, 226, 228);
  --mochi--button--border:1px solid rgb(222, 226, 228);
  --mochi--button--box-shadow:rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset, rgba(15, 15, 15, 0.1) 0px 1px 2px;
  --mochi--button--color:rgba(51, 51, 51, 1);
  --mochi--button--down-chevron:rgba(51, 51, 51, 0.4);
  --mochi--button--icon:rgba(51, 51, 51, 0.7);
  --mochi--button--thin-outline:rgba(0,0,0,0.1);
  --mochi--button-active--background:rgb(223, 223, 223);
  --mochi--button-hover--background:rgb(239,239,239);
  --mochi--card--add-side-button-hover:rgba(0,0,0,0.04);
  --mochi--card--background-active:rgb(248, 248, 248);
  --mochi--card--background-fade:linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,1) 33px, rgba(255,255,255,0));
  --mochi--card--background-hover-pageless:rgb(242, 242, 242);
  --mochi--card--background-hover:rgb(250, 250, 250);
  --mochi--card--background:rgb(255, 255, 255);
  --mochi--card--border-color-active:rgb(202, 206, 208);
  --mochi--card--border-color:rgb(222, 226, 228);
  --mochi--card--box-shadow:0 7px 14px 0 rgba(60, 66, 87, 0.06), 0 3px 6px 0 rgba( 0, 0, 0, 0.06);
  --mochi--card--color:rgba(51, 51, 51, 1);
  --mochi--card-box--background:rgb(255, 255, 255);
  --mochi--card-box--border-bottom:2px solid rgb(222, 226, 228);
  --mochi--card-box--border-color:rgb(222, 226, 228);
  --mochi--card-box--border-light:1px solid rgb(232, 236, 238);
  --mochi--card-box--border:1px solid rgb(222, 226, 228);
  --mochi--card-box--box-shadow:0 7px 14px 0 rgba(60,66,87, 0.06), 0 3px 6px 0 rgba(0,0,0, 0.06);
  --mochi--card-box--color:rgba(51, 51, 51, 1);
  --mochi--card-box-hover--background:rgb(252, 252, 252);
  --mochi--card-box-new--border-color:rgba(51, 51, 51, 0.1);
  --mochi--card-box-new--box-shadow:rgba(51, 51, 51, 0.09) 0px 0px 0px 1px inset;
  --mochi--card-box-new--color:rgba(51, 51, 51, 0.3);
  --mochi--card-box-new-active--background:rgba(51, 51, 51, 0.04);
  --mochi--card-box-new-hover--background:rgba(51, 51, 51, 0.02);
  --mochi--card-note-view--buttons-box-shadow:0 0 0 1px rgba(51, 51, 51, 0.13),0 1px 3px 0 rgba(0,0,0,.08);
  --mochi--card-note-view--editor-background:rgba(0,0,0,0.03);
  --mochi--card-progress--filled-border-color:rgba(51, 51, 51, 0.4);
  --mochi--card-progress--new-border-color:rgba(51, 51, 51, 0.15);
  --mochi--card-progress--new-text:rgba(51, 51, 51, 0.4);
  --mochi--card-progress--not-new-border-color:rgba(51, 51, 51, 0.1);
  --mochi--chart--label:rgba(51, 51, 51, 0.4);
  --mochi--checkbox--background:rgb(255, 255, 255);
  --mochi--checkbox--box-shadow-checked:rgba(0, 0, 0, 0.117647) 0px 1px 1px 0px, rgb(44, 127, 246) 0px 0px 0px 1px, rgba(60, 66, 87, 0.117647) 0px 2px 5px 0px;
  --mochi--checkbox--box-shadow-focus-checked:rgb(58 151 212 / 36%) 0px 0px 0px 3px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(60 66 87 / 8%) 0px 2px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 1px 0px, rgb(44, 127, 246) 0px 0px 0px 1px, rgba(60, 66, 87, 0.117647) 0px 2px 5px 0px;
  --mochi--checkbox--box-shadow-focus-unchecked:rgb(58 151 212 / 36%) 0px 0px 0px 3px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(60 66 87 / 8%) 0px 2px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 1px 0px, rgba(60, 66, 87, 0.156863) 0px 0px 0px 1px, rgba(60, 66, 87, 0.117647) 0px 2px 5px 0px;
  --mochi--checkbox--box-shadow-unchecked:rgba(0, 0, 0, 0.117647) 0px 1px 1px 0px, rgba(60, 66, 87, 0.156863) 0px 0px 0px 1px, rgba(60, 66, 87, 0.117647) 0px 2px 5px 0px;
  --mochi--checkout--cancel-underline:1px solid rgba(51, 51, 51, 0.3);
  --mochi--cloze--background-color-hover:rgba(51, 51, 51, 0.14);
  --mochi--cloze--background-color:rgba(51, 51, 51, 0.09);
  --mochi--cloze--color:rgba(51, 51, 51, 1);
  --mochi--cloze-2--background-color-hover:rgb(226, 227, 229);
  --mochi--cloze-2--background-color-revealed:rgba(51,51,51,0.05);
  --mochi--cloze-2--background-color:rgb(236, 237, 239);
  --mochi--column-view--compact-background-hover:rgba(51, 51, 51, 0.03);
  --mochi--column-view--compact-light-background-hover:rgba(51, 51, 51, 0.06);
  --mochi--column-view--compact-light-background:rgba(51, 51, 51, 0.06);
  --mochi--command-panel--background:rgba(51, 51, 51, 0.04);
  --mochi--context-menu--separator:1px solid rgba(255, 255, 255, 0.09);
  --mochi--dark-menu--separator:rgba(255, 255, 255, 0.1);
  --mochi--deck-views--border:1px solid rgba(51, 51, 51, 0.1);
  --mochi--deck-views--selected:2px solid rgba(51, 51, 51, 0.7);
  --mochi--embedded-card--background:rgb(255, 255, 255);
  --mochi--embedded-card--box-shadow:0 4px 7px 0 rgba(60,66,87,0.04), 0 2px 3px 0 rgba(0,0,0,0.04);
  --mochi--embedded-card--next-side-background-active:rgba(51, 51, 51, 0.14);
  --mochi--embedded-card--next-side-background:rgba(51, 51, 51, 0.06);
  --mochi--embedded-card--shadow-opacity:0.04;
  --mochi--field--input-background-focus:rgb(243, 243, 243);
  --mochi--field--input-background:rgb(245, 245, 245);
  --mochi--green--background:rgba(161, 204, 101, 0.2);
  --mochi--h-menu--background-active:rgba(255, 255, 255, 0.1);
  --mochi--h-menu--background-hover:rgba(255, 255, 255, 0.06);
  --mochi--h-menu--background:rgb(46, 47, 49);
  --mochi--h-menu--foreground-selected:rgb(44, 127, 246);
  --mochi--h-menu--separator:1px solid rgba(255, 255, 255, 0.09);
  --mochi--h-menu-item--foreground:rgba(255, 255, 255, 0.85);
  --mochi--header--border:1px solid rgba(51, 51, 51, 0.16);
  --mochi--highlight--background-image:linear-gradient( -100deg, rgba(255,224,0,0.3), rgba(255,224,0,0.7) 95%, rgba(255,224,0,0.1));
  --mochi--html--background:rgb(255, 255, 255);
  --mochi--inline-link--background-color:rgba(51, 51, 51, 0.07);
  --mochi--inline-link--background-image-hover:linear-gradient(120deg, rgba(51, 51, 51, 0.1) 0%, rgba(51, 51, 51, 0.1) 100%);
  --mochi--inline-link--background-image:linear-gradient(120deg, rgba(51, 51, 51, 0.06) 0%, rgba(51, 51, 51, 0.06) 100%);
  --mochi--inline-link--border-color:rgba(0,0,0,0.08);
  --mochi--inline-link--color-hover:rgba(51, 51, 51, 1);
  --mochi--inline-link--color:rgba(51, 51, 51, 0.85);
  --mochi--inline-link--icon-color:rgba(51, 51, 51, 0.5);
  --mochi--inline-link--underline:rgba(51, 51, 51, 0.4) !important;
  --mochi--input--background:rgba(242, 241, 238, 0.6);
  --mochi--input--border-active-color:rgba(51, 51, 51, 0.2);
  --mochi--input--border-active:2px solid rgba(51, 51, 51, 0.2);
  --mochi--input--border-inactive-color:rgba(51, 51, 51, 0.1);
  --mochi--input--border-invalid:2px solid rgb(225, 98, 89);
  --mochi--input--border:2px solid rgba(51, 51, 51, 0.1);
  --mochi--input--box-shadow:rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset, rgba(15, 15, 15, 0.1) 0px 1px 1px inset;
  --mochi--input--box-shadow2:rgb(15 15 15 / 10%) 0px 0px 0px 1px inset;
  --mochi--input--icon:rgba(51, 51, 51, 0.6);
  --mochi--input--placeholder-color:rgba(51, 51, 51, 0.35);
  --mochi--inverted-button--background:rgba(51, 51, 51, 0.9);
  --mochi--inverted-button--border-color:rgba(51, 51, 51, 1);
  --mochi--inverted-button--box-shdow:rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(40,40,40) 0px 0px 0px 1px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
  --mochi--inverted-button--color:rgb(255,255,255);
  --mochi--inverted-button--count-background:rgba(0,0,0,0.6);
  --mochi--inverted-button--icon-color:rgba(255,255,255, 0.75);
  --mochi--inverted-button-active--background:rgba(51, 51, 51, 1);
  --mochi--inverted-button-hover--background:rgba(51, 51, 51, 0.85);
  --mochi--ios--close-background-active:rgb(235, 235, 235);
  --mochi--ios--close-background:rgb(240, 240, 240);
  --mochi--jump-to--content-preview-icon:rgba(51, 51, 51, 0.4);
  --mochi--jump-to--content-preview:rgba(51, 51, 51, 0.6);
  --mochi--jump-to--divider-border-mobile:rgba(51, 51, 51, 0.05);
  --mochi--jump-to--divider-border:rgba(51, 51, 51, 0.05);
  --mochi--jump-to--icon-color:rgba(51, 51, 51, 0.6);
  --mochi--jump-to--selection-bg:rgba(51, 51, 51, 0.05);
  --mochi--kbd--background:rgba(242, 241, 238, 0.6);
  --mochi--kbd--border-bottom-color:rgba(222, 221, 218, 0.9);
  --mochi--kbd--border:1px solid rgba(222, 221, 218, 0.8);
  --mochi--kbd--box-shadow:inset 0 -1px 0 rgba(222, 221, 218, 1);
  --mochi--kbd--color:rgba(51, 51, 51, 0.8);
  --mochi--kbd2--background-color-tooltip:rgba(255,255,255,0.1);
  --mochi--kbd2--background-color:rgba(0,0,0,0.04);
  --mochi--kbd2--border-tooltip:1px solid rgba(255,255,255,0.12);
  --mochi--kbd2--border:1px solid rgba(0,0,0,0.08);
  --mochi--kbd2--color-tooltip:rgba(255, 255, 255, 0.7);
  --mochi--kbd2--color:rgba(51, 51, 51, 0.65);
  --mochi--md--blockquote-background:rgba(51, 51, 51, 0.02);
  --mochi--md--blockquote-border:rgba(51, 51, 51, 0.1);
  --mochi--md--blockquote-foreground:rgba(51, 51, 51, 0.6);
  --mochi--md--li-marker:rgba(51, 51, 51, 0.4);
  --mochi--md--slim-link-underline:rgba(51, 51, 51, 0.15);
  --mochi--md-code--background:rgba(51, 51, 51, 0.04);
  --mochi--md-code--foreground:rgba(51, 51, 51, 0.8);
  --mochi--md-dt--underline:rgba(51, 51, 51, 0.2);
  --mochi--md-h1--box-shadow:inset 0 -4px 0 0 rgba(51, 51, 51, 0.15);
  --mochi--md-h2--box-shadow:inset 0 -2px 0 0 rgba(51, 51, 51, 0.15);
  --mochi--md-hr--border-color:rgba(51, 51, 51, 0.1);
  --mochi--md-hr--border-small:1px dashed rgba(51, 51, 51, 0.1);
  --mochi--md-hr--border:1px solid rgba(51, 51, 51, 0.1);
  --mochi--md-link--box-shadow:inset 0 -2px 0 0 rgba(51, 51, 51, 0.15);
  --mochi--md-link-hover--box-shadow:inset 0 -6px 0 0 rgba(51, 51, 51, 0.15);
  --mochi--md-media-player--button-background:rgba(51, 51, 51, 0.05);
  --mochi--md-preview-hr--border-color:rgba(51, 51, 51, 0.4);
  --mochi--mention-menu--breadcrumbs:rgba(51, 51, 51, 0.45);
  --mochi--mention-menu--icon:rgba(51, 51, 51, 0.5);
  --mochi--menu--background-active:rgba(51, 51, 51, 0.07);
  --mochi--menu--background-hover:rgba(51, 51, 51, 0.04);
  --mochi--menu--background-selected:rgba(51, 51, 51, 0.04);
  --mochi--menu--background:rgb(255, 255, 255);
  --mochi--menu--separator:1px solid rgba(51, 51, 51, 0.09);
  --mochi--menu-item--foreground:rgba(51, 51, 51, 1);
  --mochi--menu-item--icon-dark:rgba(255, 255, 255, 0.5);
  --mochi--menu-item--icon:rgba(51, 51, 51, 0.5);
  --mochi--modal--background:rgb(255, 255, 255);
  --mochi--modal--box-shadow:rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 5px 10px, rgba(15, 15, 15, 0.2) 0px 15px 40px;
  --mochi--modal-mask--background:rgba(0,0,0,0.25);
  --mochi--multi-switch--background-off:rgba(135, 131, 120, 0.15);
  --mochi--next-side--background:rgba(51, 51, 51, 0.035);
  --mochi--note-page-content--background:rgb(255, 255, 255);
  --mochi--offline-banner--background:rgba(51, 51, 51, 0.15);
  --mochi--open-button--hover-dark:rgba(51, 51, 51, 0.05);
  --mochi--open-button-active--background:rgba(51, 51, 51, 0.1);
  --mochi--open-button-hover--background:rgba(51, 51, 51, 0.05);
  --mochi--plans--non-feature-opacity:0.3;
  --mochi--progress--separator:rgba(51, 51, 51, 0.3);
  --mochi--progress-ring--inner-stroke:rgb(180,180,180);
  --mochi--progress-ring--outer-stroke:rgb(230, 230, 230);
  --mochi--progressbar--background-inverse:rgba(255, 255, 255, 0.2);
  --mochi--progressbar--background:rgba(51, 51, 51, 0.1);
  --mochi--progressbar--foreground-dark:rgba(51, 51, 51, 0.8);
  --mochi--progressbar--foreground-red:rgb(209,179,173);
  --mochi--progressbar--foreground:rgb(200,200,200);
  --mochi--re-review--icon:rgb(209,159,153);
  --mochi--red--background:rgba(205, 39, 2, 0.1);
  --mochi--red-button--background:rgba(205, 39, 2, 0.1);
  --mochi--red-button--border:rgba(205, 39, 2, 0.5);
  --mochi--red-button--color:rgba(205, 39, 2, 1);
  --mochi--red-button-active--background:rgba(205, 39, 2, 0.2);
  --mochi--red-button-hover--background:rgba(205, 39, 2, 0.15);
  --mochi--reference--background:rgba(51, 51, 51, 0.02);
  --mochi--reference--hover-button-background-darker:rgb(236, 237, 239);
  --mochi--reference--hover-button-background:rgb(236, 237, 239);
  --mochi--review-button--background-clear:rgba(240,240,240,0);
  --mochi--review-button--background:rgb(237,237,237);
  --mochi--review-buttons--background-active:rgba(51, 51, 51, 0.05);
  --mochi--review-history--row-background-dark-red:rgba(205, 39, 2, 0.1);
  --mochi--review-history--row-background-dark:rgb(236, 237, 239);
  --mochi--review-history--row-background-red:rgba(205, 39, 2, 0.05);
  --mochi--search--icon:rgba(55, 53, 47, 0.4);
  --mochi--show-more--background-active:rgb(220, 220, 220);
  --mochi--show-more--background-hover:rgb(230, 230, 230);
  --mochi--show-more--background:rgb(242, 242, 242);
  --mochi--side-bar--background:rgb(247, 247, 247);
  --mochi--side-bar--foreground:rgba(51, 51, 51, 1);
  --mochi--side-bar-count--background:rgba(51, 51, 51, 0.16);
  --mochi--side-bar-icon--color:rgba(51, 51, 51, 0.4);
  --mochi--side-bar-item-hover--background:rgba(51, 51, 51, 0.03);
  --mochi--side-bar-item-selected--background:rgba(51, 51, 51, 0.06);
  --mochi--side-bar-item-selected--foreground:rgba(51, 51, 51, 1);
  --mochi--side-bar-item-selected-hover--background:rgba(51, 51, 51, 0.16);
  --mochi--side-bar-search--background-hover:rgba(51, 51, 51, 0.07);
  --mochi--side-bar-search--background:rgba(51, 51, 51, 0.04);
  --mochi--side-bar-search--border:1px solid rgba(51, 51, 51, 0.07);
  --mochi--side-bar-search--color:rgba(51, 51, 51, 0.6);
  --mochi--side-bar-section--header-hover:rgba(51, 51, 51, 0.6);
  --mochi--side-bar-section--header:rgba(51, 51, 51, 0.3);
  --mochi--switch--background-off:rgba(135, 131, 120, 0.3);
  --mochi--switch--background-on:rgb(58 151 212);
  --mochi--table--border:1px solid rgba(51, 51, 51, 0.1);
  --mochi--tag--background:rgba(51, 51, 51, 0.06);
  --mochi--tag--foreground-bright:rgba(51, 51, 51, 0.5);
  --mochi--tag--foreground:rgba(51, 51, 51, 0.3);
  --mochi--timeline--line:rgba(0,0,0,0.1);
  --mochi--tooltip--background:rgb(15, 15, 15) !important;
  --mochi--tooltip--box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 4px !important;
  --mochi--tooltip--foreground:rgba(255, 255, 255, 0.9) !important;
  --mochi--tooltip--hint:rgba(255, 255, 255, 0.5);
  --mochi--tooltip--icon:rgba(255, 255, 255, 0.6) !important;
  --mochi--upgrade--background:rgba(206, 205, 202, 0.5);
  --mochi--warning-banner--background-color:rgba(0,0,0,0.04);
  --mochi--warning-banner--border:1px solid rgba(0,0,0,0.08);
  --mochi--warning-banner--color:rgba(51, 51, 51, 0.85);
}
